<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711711523415-em45976krad159q53ivn2oogjm950ljv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711711523415-em45976krad159q53ivn2oogjm950ljv</string>
	<key>API_KEY</key>
	<string>AIzaSyCYJhDA0THIHgctR-JfIYLE-_1VsCWZD0o</string>
	<key>GCM_SENDER_ID</key>
	<string>711711523415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GSKiOSDeveloper.TextChat</string>
	<key>PROJECT_ID</key>
	<string>textchat-21583</string>
	<key>STORAGE_BUCKET</key>
	<string>textchat-21583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711711523415:ios:b54d5ce8eb92f1afde5912</string>
</dict>
</plist>